.apercu {
height:40rem;
background-size:contain;
background-repeat: no-repeat;
background-position:center;
}

.my-link-white:focus, .my-link-white:hover {
color: #6c757d;
}

.my-link-white {
color: white;
}